<div class="container">
<h3>About Us</h3>
<hr>
<p>
    Welcome to <i>RemitWise!</i> An innovative peer-to-peer remittance platform transforming the way people send and receive money internationally.
</p>

<b>Why did we create this platform?</b>
<p>
    The remittance industry faces major challenges that affect users globally. Traditional services often come with high costs, poor exchange rates, and inconsistent transfer times. These barriers make international transfers difficult for those who cannot afford high fees. Our mission is to eliminate these barriers and make international remittances more accessible and cost-effective for all.
</p>


<b>How to use our platform?</b>
<p>
    Using <i>RemitWise</i> is easy! Just sign up and log in!
</p>
<p>
    You can find a match from existing posts, and if you don't find one, you can create a new post.
</p>
<ul>
    <li>Sign up and log in</li>
    <li>Find a post or create a new one</li>
    <li>Contact and negotiate</li>
    <li>Complete the transaction offline and save on fees!</li>
</ul>

<b>Why use <i>RemitWise</i>?</b>
<ul>
    <li>Cost savings</li>
    <li>Fair exchange rates</li>
    <li>Flexibility</li>
    <li>Community building</li>
</ul>

<b style="color:red;">Cautions!!</b>
<ul>
    <li>Verify users by contacting and collecting more information from them</li>
    <li>Communicate clearly</li>
    <li>Keep records of everything</li>
    <li>Be aware of local laws</li>
</ul>

<br>
<b>Enjoy! and if you have questions, contact <a href="mailto:test@test.com">admin here!</a></b>

</div>