<div class="wrapper">
    <form action="">
        <h1>Sign Up</h1>

        <!-- First Name -->
        <div class="input-box">
            <input type="text" placeholder="First Name" required>
            <i class='bx bxs-user'></i>
        </div>

        <!-- Last Name -->
        <div class="input-box">
            <input type="text" placeholder="Last Name" required>
            <i class='bx bxs-user'></i>
        </div>

        <!-- Email -->
        <div class="input-box">
            <input type="email" placeholder="name@domail.com" required>
            <i class='bx bxs-envelope'></i>
        </div>
<!--
         Dropdown for role // we will set user role in database so removing it from singup page
        <div class="input-box">
            <select required>
                <option value="user" selected>Normal User</option>
                <option value="admin">Admin</option>
            </select>
            <i class='bx bxs-user-circle'></i>
        </div>
    -->
        <!-- Password -->
        <div class="input-box">
            <input type="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>

        <!-- Confirm Password -->
        <div class="input-box">
            <input type="password" placeholder="Confirm Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>

        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>
