.wrapper {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow:
        0px 2px 5px 0 rgba(0, 0, 0, .3),
        0px 25px 80px 0 rgba(0, 0, 0, .2);
    color: #635e5e;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

/* input fields */
.input-box input {
    width: 100%;
    height: 100%;
    border: 0.5px solid #635e5e;
    border-radius: 40px;
    font-size: 16px;
    color: #635e5e;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #635e5e;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* dropdown */
/* .input-box select {
    width: 100%;
    height: 100%;
    border: 0.5px solid #635e5e;
    border-radius: 40px;
    font-size: 16px;
    color: #635e5e;
    padding: 10px 20px;
    appearance: none; 
    background: #fff;
    position: relative;
    z-index: 1;
} */

/* .input-box select:focus {
    outline: none;
} */

/* .input-box select + i {
    pointer-events: none;
    font-size: 20px;
    right: 20px;
} */

/* signup button */
.wrapper .btn {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    background: #635e5e;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.error-message {
    color: red;
    margin-bottom: 8px;
    font-size: 12px; 
}