<div class="wrapper">
  <form #loginForm="ngForm" (submit)="onLogin()" novalidate>
    <h1>Login</h1>

    <!-- Email -->
    <div class="input-box">
      <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required email #emailCtrl="ngModel">
      <i class='bx bxs-envelope'></i>
      <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="error-message">
        <small *ngIf="emailCtrl.errors?.['required']">Email is required.</small>
        <small *ngIf="emailCtrl.errors?.['email']">Enter a valid email address.</small>
      
    </div>
    </div>

    <!-- Password -->
    <div class="input-box">
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required minlength="6" #passwordCtrl="ngModel">
      <i class='bx bxs-lock-alt'></i>
      <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="error-message">
        <small *ngIf="passwordCtrl.errors?.['required']">Password is required.</small>
        <small *ngIf="passwordCtrl.errors?.['minlength']">Password must be at least 6 characters long.</small>
      
    </div>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>

    <p class="signup-link">
      No account yet? <a [routerLink]="'/signup'" style="text-decoration: none">Signup here</a>
    </p>

  </form>
</div>
