.posts-container {
  max-height: 100%;
  overflow-y: auto;
}

.post {
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 
    0px 2px 2px 0 rgba(4, 64, 69, 0.3),
    0px -2px 2px 0 rgba(4, 64, 69, 0.3);
  color: #484343;
  padding: 30px 40px;
  margin: 40px 0px 40px 20px;
  width: 90%;
  position: relative;
  font-size: large;
}

.ul-list {
  list-style-type: none;
  padding: 15px 0px;
}

.ul-list-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9em;
  color: #666;
}