<h3> All Posts </h3> <hr/>

<div class="posts-container">
  <div *ngFor="let post of posts" class="post">
    <ul class="ul-list">
      <button (click)="delete(post._id)" *ngIf="user?._id == post.user._id" type="button" class="btn btn-outline-danger delete-button">Delete</button> <br/>
      <li>{{post.user.first_name}} {{post.user.last_name}}</li>
      <li class="ul-list-date">{{post.updatedAt | date: 'dd MMMM yyyy, h:mm a'}}</li>
      <li>Amount Willing to Pay: {{post.amount_willing_to_pay}} {{post.amount_willing_to_pay_currency}}</li>
      <li>Desired Amount in Return: {{post.desired_amount_in_return}} {{post.desired_amount_in_return_currency}}</li>
      <li>Email: {{post.user.email}}</li>
      <li>Addional details: {{post.additional_details}}</li>
    </ul>
  </div>
</div>