<div *ngIf="!isLogged">
  <h5>Please log in to create a post.</h5>
</div>

<form name="createpost" (ngSubmit)="submit()" *ngIf="isLogged">
  <h3 *ngIf="!isEditMode">Create a post</h3> 
  <h3 *ngIf="isEditMode">Edit a post</h3> 
  <hr>

  <div>
    <span class="input-box">
      <label>First Name:</label> &nbsp;
      <label>{{firstName}}</label>
    </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <span class="input-box">
      <label>Last Name:</label> &nbsp;
      <label>{{lastName}}</label>
    </span>
  </div> <br>

  <div>
    <span class="input-box">
      <label>Amount willing to pay</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <input type="number" name="amount_willing_to_pay" placeholder="0.00" [(ngModel)]="amount_willing_to_pay" required>
      <i class="bx bxs-user"></i>
    </span> &nbsp;&nbsp;&nbsp;

    <span class="input-box">
      <label for="paycurrency">Choose a currency:</label> &nbsp;
        <select name="currency1" id="paycurrency" [(ngModel)]="selectedCurrency1" required>
          <option value="" disabled selected>Please select a currency</option>
          <option value="CAD">CAD</option>
          <option value="USD">USD</option>
          <option value="CNY">CNY</option>
          <option value="INR">INR</option>
          <option value="NL">Provided in Addional Details</option>
        </select>
    </span>
  </div> <br>

  <div>
    <span class="input-box">
      <label>Desired amount in return</label> &nbsp; &nbsp; &nbsp;
      <input type="number" name="desired_amount_in_return" placeholder="0.00" [(ngModel)]="desired_amount_in_return" required>
      <i class="bx bxs-user"></i>
    </span> &nbsp;&nbsp;&nbsp;

    <span class="input-box">
      <label for="returncurrency">Choose a currency:</label> &nbsp;
        <select name="currency2" id="returncurrency" [(ngModel)]="selectedCurrency2" required>
          <option value="" disabled selected>Please select a currency</option>
          <option value="CAD">CAD</option>
          <option value="USD">USD</option>
          <option value="CNY">CNY</option>
          <option value="INR">INR</option>
          <option value="NL">Provided in Addional Details</option>
        </select>
    </span>
  </div> <br>

  <div>
    <span class="input-box">
      <label>Email:</label> &nbsp; &nbsp; &nbsp;
      <label>{{email}}</label>
    </span>
  </div> <br>

  <div>
    <span class="input-box">
      <label>Addional Details</label> &nbsp; &nbsp; &nbsp;
      <textarea name="textarea" [(ngModel)]="addionalDetails" placeholder="Please provide addional details here if any."></textarea>
    </span>
  </div> <hr>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>