form div {
    color: #484343;
}

.input-box input {
    width: 30%;
    height: 100%;
    border: 0.5px solid #635e5e;
    border-radius: 40px;
    font-size: 16px;
    color: #635e5e;
    padding: 20px 45px 20px 20px;

}

#date {
    width: 30%;
    height: 100%;
    border: 0.5px solid #635e5e;
    border-radius: 40px;
    font-size: 16px;
    color: #635e5e;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #635e5e;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
