<div *ngIf="!isLogged">
    <h5>Please log in to use the Profile Page.</h5>
</div>

<form *ngIf="isLogged" (submit)="onUpdateProfile(firstName.value, lastName.value)">
    <h3>Profile</h3>
    <hr>

    <!-- First Name -->
    <div class="mb-3">
        <label for="firstName_"> First Name </label>
        <input name="firstName_" type="text" placeholder="First Name" class="form-control" #firstName required>
    </div>

    <!-- Last Name -->
    <div class="mb-3">
        <label for="lastName_"> Last Name </label>
        <input name="lastName_" type="text" placeholder="Last Name" class="form-control" #lastName required>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>